@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "PingFang SC", "Microsoft YaHei", "Noto Sans SC", sans-serif;
    color: #2b2b2b;
}

@layer utilities {
    table {
        font-size: 15px;
        line-height: 1.5;
    }
    table th,
    table td {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    table thead {
        font-size: 14px;
    }
}
